:root {
    --color-primary: #4f46e5;

    --color-heading: #0f172a;
    --color-text: #475569;
    --color-text-muted: #64748b;

    --color-primary-background: #fafaf9;
    --color-secondary-background: #F8FAFC;
    --color-surface: #ffffff;
    --color-label: #eef2ff;

    --color-alternative: #C7D2FE;
    --color-border: #e2e8f0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

h2 {
    margin: 0;
}

.headline {
    color: var(--color-heading);
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.paragraph {
    color: var(--color-text);
    font-size: 21.33px;
    line-height: 1.5;
}

.description {
    color: var(--color-text);
    font-size: 18.67px;
}

.padding {
    padding-block: 96px;
}

.primary-background-color {
    background-color: var(--color-primary-background);
}

.secondary-background-color {
    background-color: var(--color-secondary-background);
}

/* ------------------- Button Effect ------------------- */
.nav-btn {
    display: inline-block;
    padding: 13px 26px;
    border-radius: 8px;

    text-decoration: none;
    border: 2px solid transparent;

    transition:
        background-color 0.2s ease-out,
        color 0.2s ease-out,
        border-color 0.2s ease-out;
}

.btn {
    display: inline-block;
    font-size: 20px;
    padding: 19px 32px;
    border-radius: 10px;

    border: 2px solid transparent;
    text-decoration: none;
    
    transition:
        background-color 0.2s ease-out,
        color 0.2s ease-out,
        border-color 0.2s ease-out;
}

.primary {
    background-color: var(--color-primary);
    color: var(--color-surface);
}

.primary:hover {
    background-color: var(--color-surface);
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}

.secondary {
    border: 2px solid var(--color-alternative);
    background-color: var(--color-label);
    color: var(--color-primary);
}

.secondary:hover {
    background-color: var(--color-alternative);
    border: 2px solid var(--color-alternative);
    color: var(--color-primary);
}
/* ----------------------------------------------------- */

.grid {
    display: grid;
    gap: 32px;
}

.card-style {
    padding: 42.67px;
    border: 1.33px solid var(--color-border);
    background-color: var(--color-surface);
    border-radius: 21.33px;
}

.logo-img {
    width: 140px;
    height: auto;
    display: block;
}

.navbar {
    padding-block: 20px;
    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    align-items: center;
    font-weight: 500;
    list-style: none;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.nav-actions {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 24px;
    margin: 0;
    padding: 0;
    color: var(--color-text);
}

.nav-links a, 
.nav-actions a, 
.footer-nav a, 
.footer-last-row a {
    text-decoration: none;
}

.nav-links a,
.nav-actions a:not(.nav-btn) {
  color: var(--color-text);
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-links a:hover,
.nav-actions a:not(.nav-btn):hover {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}

.site-header {
    background-color: var(--color-surface);
    border-bottom: 1px solid var(--color-border);
}

.hero-right-img {
    display: block;
    width: 100%;
    max-width: 680px;
    height: auto;

    box-shadow: 0 26.67px 42.67px rgba(15, 23, 42, 0.0314);
}

.hero-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 85px;
}

.hero-eyebrow {
  display: inline-block;

  margin: 0;
  padding: 8px 16px;

  border-radius: 100px;

  background-color: var(--color-label);
  color: var(--color-primary);

  font-size: 14px;
  font-weight: 700;
}

.hero h1 {
    font-weight: 800;
    line-height: 1.15;
    font-size: 64px;
    letter-spacing: -0.04em;
    color: var(--color-heading);
    margin: 20px 0;
}

.hero-description {
    color: var(--color-text);
    font-size: 20px;
    line-height: 1.4;
    margin: 0 0 40px;
}

.hero-note {
    color: var(--color-text);
    font-size: 16px;
    margin: 20px 0 0;
}

.hero-left-col {
  flex: 1;
  max-width: 650px;
}

.hero-left-col button {
    margin-right: 24px;
}

.hero-right-col {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.container {
    width: min(1440px, calc(100% - 48px));
    margin-inline: auto;
}

.social-proof {
    padding-block: 64px;

    border-bottom: 1.33px solid var(--color-border);
    border-top: 1.33px solid var(--color-border);
}

.social-proof-title {
    color: var(--color-text-muted);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 44px;
}

.social-proof-images {
    display: flex;
    justify-content: center;
    gap: 184px;
    align-items: center;
    
    margin: 0;
    padding: 0;

    list-style: none;
}

.social-proof-img  {
    height: 26px;
    width: auto;
}

#features h2 {
    margin-bottom: 22px;
}

.feature-description {
    max-width: 920px;
    margin: 0 auto 75px;

    text-align: center;
}

.features-layout {
    grid-template-columns: repeat(3, 1fr);
}

.feature-card img {
    height: 64px;
    width: auto;
}

.feature-card h3 {
    margin: 24px 0 12px;

    color: var(--color-heading);
    font-size: 24px;
    font-weight: 600;
}

#how-it-works .grid {
    gap: 120px;
}

#how-it-works h2 {
    max-width: 800px;
    margin: 0 auto 75px auto;
}

.step-layout {
    grid-template-columns: repeat(3, 1fr);
}

.step-card p, .feature-card p {
    line-height: 1.5;
}

.step-card h3 {
    font-size: 54px;
    font-weight: 800;
    color: var(--color-primary);
    margin: 0;
}

.step-card h4 {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-heading);

    margin: 21px 0;
}

.product-layout {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 85px;
}

.product-image-col img {
    display: block;
    width: 100%;
    max-width: 693px;
    height: auto;

    box-shadow: 0 21.33px 32px rgba(15, 23, 42, 0.0157); 
}

.product-image-col {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.product-description-col {
    flex: 2;
    max-width: 800px;
}

.product-description-col span {
    font-weight: 700;
    font-size: 16px;
    color: var(--color-primary);
}

.product-description-col h2 {
    font-weight: 800;
    font-size: 42.67px;
    color: var(--color-heading);

    margin: 16px 0;
}

.product-description-col p {
    margin-bottom: 32px;
}

.benefits-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.benefits-list li {
    position: relative;
    padding-left: 32px;
}

.benefits-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    background-size: contain;
    background-repeat: no-repeat;
}

.product-description-col li {
    margin-bottom: 16px;
}

.product-description-col li:before {
    width: 21.33px;
    height: 21.33px;
    
    background-image: url("./assets/icons/check-circle.png");
}

.second-product {
    margin-top: 96px;
}

.testimonials h2 {
    margin-bottom: 75px;
}

.testimonials-layout {
    grid-template-columns: repeat(3, 1fr);
}

.testimonials-card p {
    color: var(--color-text);
    margin: 0;
}

.testimonials-card span {
    font-size: 18.67px;
    font-weight: 600;
    color: var(--color-heading);
}

.review {
    font-style: italic;
    font-size: 20px;
    line-height: 1.6;

    margin-bottom: 32px;
}

.person-industry {
    font-size: 16px;
    margin: 0;
}

.testimonials-name {
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.testimonials-name img {
    width: 54px;
    height: auto;
}

#pricing h2 {
    margin-bottom: 75px;
}

.pricing-layout {
    grid-template-columns: repeat(3, 1fr);
}

.pricing-card {
    padding: 53px;
    transition:
        border-color 0.2s ease-out,
        box-shadow 0.2s ease-out;
}

.label {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0;
    padding: 0;
}

.pricing-card .label h3 {
    font-size: 26.67px;
    font-weight: 700;

    color: var(--color-heading);

    margin: 0;
}

.pricing-card .label span {
    font-size: 16px;
    font-weight: 600;

    color: var(--color-primary);

    background-color: var(--color-label);
    border-radius: 100px;

    padding: 5.33px 13.33px;
}

.pricing-card span {
    font-size: 26.67px;
    font-weight: 700;

    color: var(--color-heading);
}

.pricing-card p {
    line-height: 1.4;

    margin-top: 21px;
}

.pricing-card h3 {
    font-size: 18.67px;
    font-weight: normal;
    color: var(--color-text-muted);

    margin: 43px 0;
}

.pricing-card h3 span {
    font-size: 48px;
}

.pricing-card li {
    margin-bottom: 21.33px;
}

.pricing-card ul {
    margin-bottom: 43px;
}

.pricing-card li:before {
    width: 24px;
    height: 24px;
    
    background-image: url("./assets/icons/purple-check.png");
}

.pricing-card:hover {
  border-color: var(--color-primary);
  box-shadow:
    0 0 0 2.67px var(--color-primary),
    0 16px 32px rgba(79, 70, 229, 0.0627);
}

#faq h2 {
    margin-bottom: 56px;
}

.faq-item {
    border-bottom: 1px solid var(--color-border);
    padding: 24px 0;

    max-width: 900px;
    margin: 0 auto;
}

.faq-item summary {
    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
    list-style: none;

    font-size: 21.33px;
    font-weight: 600;
    color: var(--color-heading);
}

.faq-item p {
    color: var(--color-text);
}

.faq-icon {
  font-size: 28px;
  transition: transform 0.2s ease;
}

.faq-item[open] .faq-icon {
  transform: rotate(45deg);
}

.final-cta {
    background-color: var(--color-heading);
}

.final-cta h2 {
    font-size: 53.33px;
    font-weight: 800;
    color: var(--color-surface);
    text-align: center;
    max-width: 700px;
    
    margin: 0 auto;
}

.final-cta p {
    font-size: 24px;
    color: var(--color-border);
    line-height: 1.5;
    text-align: center;
    max-width: 640px;

    margin: 24px auto 43px auto;
}

.final-cta button {
    display: block;
    margin: 0 auto;
}

.footer {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: var(--color-surface);
}

.footer-nav-layout {
    display: flex;
    justify-content: space-between;
    text-align: start;
}

.footer-nav-layout img {
    max-width: 140px;
    height: auto;
}

.footer-nav-layout p {
    line-height: 1.5;
    max-width: 440px;
}

.footer-nav {
    max-width: 156px;
    text-align: left;
}

.footer-nav h3 {
    font-size: 18.67px;
    font-weight: 700;

    color: var(--color-heading);

    margin: 0;
}

.footer-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-nav a {
    font-size: 18.67px;
    color: var(--color-text);
}

.footer-nav li {
    margin-top: 21px;
}

.footer-last-row {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    text-align: center;

    font-size: 16px;
    color: var(--color-text-muted);
}

.footer-last-row img {
    width: 26.67px;
    height: auto;

    margin-left: 21.33px;
}